@using X.PagedList;
@using ShopPet.Models;
@using ShopPet.Extensions;
@inject CheckRole CheckRoleInstance

@model IPagedList<NhaCungCap>

@{
    ViewData["Title"] = "Index";
    string username = User.Identity.Name;
}

@if (await CheckRoleInstance.CheckViewSupplierByUser(username))
{
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-10" style="margin-top:10px">
                <!-- Tìm kiếm -->
                <form asp-action="Index" method="get" id="formSearch">
                    <div class="col-md-12">
                        <div class="input-group" style="margin-left:-22px">
                            <div style="padding: .25rem 1rem">
                                <label>Tên hãng:</label>
                                <input type="text" name="ten" value="@ViewBag.ten" class="form-control">
                            </div>

                            <div style="padding: .25rem 1rem; margin-top: 32px">
                                <a href="~/Admin/Supplier" class="btn btn-secondary">Khôi phục</a>
                            </div>

                            <div style="padding: .25rem 1rem; margin-top: 32px">
                                <input type="submit" value="Tìm kiếm" class="btn btn-primary">
                            </div>
                        </div>
                    </div>
                </form>
                
                   
                </div>
                <div class="col-md-2 flex justify-content-end" style="margin-top:auto">
                @if (await CheckRoleInstance.CheckAddSupplierByUser(username))
                {
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        <i class="fas fa-plus"></i> Thêm mới
                    </button>
                }
                </div>
            </div>
            <br />
            <!-- Table -->
            <div class="row row--top-20">
                <div class="col-md-12">
                    <div class="table-container">
                        <table class="table">
                            <thead class="" style="text-align: center;color: #fff;background-color: #007BFF;border-color: #007BFF;">
                                <tr>
                                    <th class="">Tên hãng</th>
                                    <th class=""></th>
                                </tr>
                            </thead>
                            <tbody class="table__tbody" style="text-align:center">
                                @foreach (var items in Model)
                                {
                                    <tr class="table-row table-row--chris">

                                        <td class="table-row__td">
                                            <p>@items.TenNCC</p>
                                        </td>
                                        <td class="table-row__td">
                                            @if (await CheckRoleInstance.CheckEditSupplierByUser(username))
                                            {
                                                <a href="@Url.Action("Edit", "Supplier", new { @id = items.MaNCC })">
                                                    <svg version="1.1" class="table-row__edit" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve" data-toggle="tooltip" data-placement="bottom" title="Edit"><g>	<g>		<path d="M496.063,62.299l-46.396-46.4c-21.2-21.199-55.69-21.198-76.888,0l-18.16,18.161l123.284,123.294l18.16-18.161    C517.311,117.944,517.314,83.55,496.063,62.299z" style="fill: rgb(1, 185, 209);"></path>	</g></g><g>	<g>
                                                    <path d="M22.012,376.747L0.251,494.268c-0.899,4.857,0.649,9.846,4.142,13.339c3.497,3.497,8.487,5.042,13.338,4.143    l117.512-21.763L22.012,376.747z" style="fill: rgb(1, 185, 209);"></path>	</g></g><g>	<g>		<polygon points="333.407,55.274 38.198,350.506 161.482,473.799 456.691,178.568   " style="fill: rgb(1, 185, 209);"></polygon>	</g></g><g></g><g></g><g></g>
                                                    <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                                                                                                    </svg>
                                                </a>
                                            }

                                            @if (await CheckRoleInstance.CheckDeleteSupplierByUser(username))
                                            {
                                                <a href="@Url.Action("Delete", "Supplier", new { @id = items.MaNCC })" onclick="return confirm('Bạn có muốn xóa sản phẩm không?')">
                                                    <svg data-toggle="tooltip" data-placement="bottom" title="Delete" version="1.1" class="table-row__bin" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g>	<g>		<path d="M436,60h-90V45c0-24.813-20.187-45-45-45h-90c-24.813,0-45,20.187-45,45v15H76c-24.813,0-45,20.187-45,45v30    c0,8.284,6.716,15,15,15h16.183L88.57,470.945c0.003,0.043,0.007,0.086,0.011,0.129C90.703,494.406,109.97,512,133.396,512    h245.207c23.427,0,42.693-17.594,44.815-40.926c0.004-0.043,0.008-0.086,0.011-0.129L449.817,150H466c8.284,0,15-6.716,15-15v-30    C481,80.187,460.813,60,436,60z M196,45c0-8.271,6.729-15,15-15h90c8.271,0,15,6.729,15,15v15H196V45z M393.537,468.408    c-0.729,7.753-7.142,13.592-14.934,13.592H133.396c-7.792,0-14.204-5.839-14.934-13.592L92.284,150h327.432L393.537,468.408z     M451,120h-15H76H61v-15c0-8.271,6.729-15,15-15h105h150h105c8.271,0,15,6.729,15,15V120z" style="fill: rgb(158, 171, 180);"></path>	</g></g><g>	<g>		<path d="M256,180c-8.284,0-15,6.716-15,15v212c0,8.284,6.716,15,15,15s15-6.716,15-15V195C271,186.716,264.284,180,256,180z" style="fill: rgb(158, 171, 180);"></path>	</g></g><g>	<g>		<path d="M346,180c-8.284,0-15,6.716-15,15v212c0,8.284,6.716,15,15,15s15-6.716,15-15V195C361,186.716,354.284,180,346,180z" style="fill: rgb(158, 171, 180);"></path>	</g></g><g>	<g>		<path d="M166,180c-8.284,0-15,6.716-15,15v212c0,8.284,6.716,15,15,15s15-6.716,15-15V195C181,186.716,174.284,180,166,180z" style="fill: rgb(158, 171, 180);"></path>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                                                    <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                                                                                                    </svg>
                                                </a>
                                            }

                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <!-- Thanh phân trang -->
                    <div class="col-sm-12 col-md-7">
                        <p>Danh sách từ @ViewBag.PageStartItem đến @ViewBag.PageEndItem trên tổng số @ViewBag.TotalItemCount hãng</p>

                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                            <ul class="pagination">
                                @if (Model.HasPreviousPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", "Supplier", new { ten = ViewBag.ten, dc = ViewBag.dc, sdt = ViewBag.sdt, page = Model.PageNumber - 1 })"><i class="fa fa-angle-left"></i></a>
                                    </li>

                                }

                                <li class="page-item @(1 == ViewBag.Page ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Index", "Supplier", new { ten = ViewBag.ten, dc = ViewBag.dc, sdt = ViewBag.sdt, page = 1 })">1</a>
                                </li>

                                @if (Model.PageNumber > 3)
                                {
                                    <li class="page-item">
                                        <span class="page-link">...</span>
                                    </li>
                                }

                                @for (int i = Model.PageNumber - 1; i <= Model.PageNumber + 1; i++)
                                {
                                    if (i > 1 && i < Model.PageCount)
                                    {
                                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                            <a class="page-link" href="@Url.Action("Index", "Supplier", new { ten = ViewBag.ten, dc = ViewBag.dc, sdt = ViewBag.sdt, page = i })">@i</a>
                                        </li>
                                    }
                                }

                                @if (Model.PageNumber < Model.PageCount - 2)
                                {
                                    <li class="page-item">
                                        <span class="page-link">...</span>
                                    </li>
                                }

                                @if (Model.PageCount > 1)
                                {
                                    <li class="page-item @(Model.PageCount == ViewBag.Page ? "active" : "") ">
                                        <a class="page-link" href="@Url.Action("Index", "Supplier", new { ten = ViewBag.ten, dc = ViewBag.dc, sdt = ViewBag.sdt, page = Model.PageCount })">@Model.PageCount</a>
                                    </li>
                                }

                                @if (Model.HasNextPage)
                                {

                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", "Supplier", new { ten = ViewBag.ten, dc = ViewBag.dc, sdt = ViewBag.sdt, page = Model.PageNumber + 1 })"><i class="fa fa-angle-right"></i></a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal create -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 700px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thêm hãng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="wrapper">
                            <form asp-action="Create" method="post">
                                <div class="tab-content">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="TenNCC" class="control-label">Hãng:</label>
                                                <input type="text" class="form-control" placeholder="Nhập tên hãng:" name="TenNCC" required>
                                                <div class="invalid-feedback">Vui lòng điền vào trường này.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Open modal create -->
    <script>
        jQuery(document).ready(function ($) {
            // Function to set the active tab
            function setActiveTab(tabId) {
                $("ul.nav-tabs li").removeClass("active");
                $("ul.nav-tabs li a[data-toggle='tab'][href='" + tabId + "']").parent().addClass("active");
            }

            // Handle tab click
            $('ul.nav-tabs li a[data-toggle="tab"]').on('click', function (e) {
                var tabId = $(this).attr("href");
                setActiveTab(tabId);
            });
        });
    </script>
}


else

{
    {
        Layout = null;
    }

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Access Denied</title>
        <script>
            function goBack() {
                var url = '/Home/Index';
                window.location.href = url;
            }
        </script>
    </head>
    <body>
        <div style="text-align: center; padding: 50px;">
            <h1>Access Denied</h1>
            <p>You do not have permission to access this page.</p>
            <button onclick="goBack()">Go Home</button>
        </div>
    </body>
    </html>
}
